[submodule "api"]
	path = api
	url = https://github.com/tfinjs/api.git
[submodule "aws-lambda-packager"]
	path = aws-lambda-packager
	url = https://github.com/tfinjs/aws-lambda-packager.git
[submodule "aws-lambda"]
	path = aws-lambda
	url = https://github.com/tfinjs/aws-lambda.git
[submodule "cli"]
	path = cli
	url = https://github.com/tfinjs/cli.git
[submodule "demos"]
	path = demos
	url = https://github.com/tfinjs/demos.git
